<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>bintray-kptfh-feign-reactive</id>
            <username>kptfh</username>
            <password>4b4f2162048b2d8f2950ebd29fd604232bf5b2e4</password>
        </server>
    </servers>
</settings>