<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <AsyncRoot level="info">
            <AppenderRef ref="stdout" />
        </AsyncRoot>
        <AsyncLogger  name="reactivefeign.client.log" level="trace">
            <AppenderRef ref="stdout"/>
        </AsyncLogger>
    </Loggers>
</Configuration>